@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Patrick+Hand&family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  background-color: antiquewhite;
}

.main > h1 {
  text-align: center;
  margin-top: 20px;
  font-family: "Baloo Tammudu 2", cursive;
  background-color: aliceblue;
}

.elements {
  border: 1px solid gray;
  width: 300px;
  height: 140px;
  border-radius: 5px;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: bisque;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}
h3 {
  margin-top: 16px;
  margin-left: 17px;
}
